*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'lato', sans-serif;
}
.container{
    display: flex;
    height: 100vh;
}
.left-section{
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    animation-name: left-section;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-delay: 1s; 
}

.right-section{
    flex: 1;
    transition: 1s;
    background-image: url(../image/download.jfif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.header h1{
    margin: 0;
    color: #f50629;
}
.header h4{
    margin-top:10px;
    color: rgba(0,0,0,0.4);
    font-size: 15px;
    font-weight: normal;
}
.form{
    max-width: 80%;
    display: flex;
    flex-direction: column;
}
.form p{
    text-align: right;
}
.form p a{
    color: #000000;
    font-size: 14px;
}
.form-field{
    height: 46px;
    padding: 0px 16px;
    border: 2px solid #dddddd;
    border-radius: 4px;
    outline: none;
    transition: 0.2s;
    margin-top: 20px;
}

.form-field:focus{
    border-color: #0f7ef1;

}
.form button{
    padding: 12px 10px;
    border: 0;
    background: linear-gradient(to right, #f50629 0%, #fd9d08 100%);
    border-radius: 3px;
    margin-top: 10px;
    color: #ffffff;
    letter-spacing: 1px;
    cursor: pointer;
}
.animation{
    animation-name: moven;
    animation-duration: 0.4s;
    animation-fill-mode: both;
    animation-delay: 2s; 
}
.a1{
    animation-delay: 2s;
}
.a2{
    animation-delay: 2.1s;
}
.a3{
    animation-delay: 2.2s;
}
.a5{
    animation-delay: 2.4s;
}
.a6{
    animation-delay: 2.5s;
}
@keyframes moven{
    0%{
        opacity: 0;
        visibility: hidden;
        transform: translateY(-40px);
    }
    100%{
        opacity: 1;
        visibility: visible;
        transform: translateY(0px);
    }
}

@keyframes left-section{
    0%{
        opacity: 0;
        width: 0;
    }
    100%{
        opacity: 100%;
        padding: 30px;
        width: 440px;
    }
}

